@keyframes down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes pop {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.downing {
  animation: down 220ms cubic-bezier(0.2, 0.9, 0.2, 1) forwards;
}
.poping {
  animation: pop 220ms cubic-bezier(0.2, 0.9, 0.2, 1) forwards;
}





.shimmerEffect {
  position: relative;
  overflow: hidden;
  background-color: #f0f0f0;
}

.shimmerEffect::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    110deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 80%
  );
}

@keyframes shimmer {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

