.Gridlayout {
  display: flex;
  column-gap: 10px;
}
.right-align-start {
  margin-left: auto;
}
.left-align-start {
  margin-right: auto;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}
.body {
  background-color: rgb(248, 245, 245);
}
.scroll-y {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.absoluteCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
